<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="footerFragment">
        <footer id="footer">
            <ul class="icons">
                <li><a href="https://twitter.com/" target="_blank" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="www.facebook.com" target="_blank" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="www.linkedin.com" target="_blank" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                <li><a href="www.instagram.com" target="_blank" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="https://github.com/EllyKwon" target="_blank" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
                <li><a href="https://www.google.com/intl/ko/gmail/about/" target="_blank" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
            </ul>
            <ul class="copyright">
                <li>(주) YZ Tour</li>
                <li>대표자 : 권예지</li>
                <li>☎ TEL 010-7129-3630</li><br/><br/>
                <li>본사주소 : 서울시 강남대로 1000억빌딩 YZ투어</li>
                <li>사업자등록번호 : 000-81-00000</li><br/><br/>
                <li>Copyright&copy; YZ TOUR service Inc. All rights reserved.</li>
            </ul>
        </footer>
    </th:block>
</html>