<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="headerFragment">
        <header id="header">
            <h1 id="logo"><a th:href="@{/}">당신의 여행파트너, YZ Tour</a></h1>
            <nav id="nav">
                <ul>
                    <li><a th:href="@{/}">메인</a></li>
                    <li>
                        <a href="#">예약하기</a>
                        <ul>
                            <li><a th:href="@{/local}">국내패키지상품</a></li>
                            <li><a th:href="@{/overseas}">해외패키지상품</a></li>
                            <li>
                                <a href="#">Submenu</a>
                                <ul>
                                    <li><a href="#">Option 1</a></li>
                                    <li><a href="#">Option 2</a></li>
                                    <li><a href="#">Option 3</a></li>
                                    <li><a href="#">Option 4</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a th:href="@{/mypage}">마이페이지</a>
                        <ul>
                            <li><a th:href="@{/mypage}">내가입정보</a></li>
                            <li><a th:href="@{/mypage/mylist}">내가 쓴글</a></li>
                            <li><a th:href="@{/mypage/myreserve}">예약확인 / 취소</a></li>
                        </ul>
                    </li>
                    <li>
                        <a th:href="@{/board}">고객게시판</a>
                    </li>
                    <li><a th:if="@{memberVO.userId==null}" th:text="로그인" th:href="@{/login}" class="button primary small"></a></li>
                    <li><a th:if="@{memberVO.userId!=null}" th:text="로그아웃" th:href="@{/login}" class="button primary small"></a></li>
                    <li><a th:if="@{memberVO.userId==null}" th:text="회원가입" th:href="@{/join}" class="button primary small"></a></li>
                </ul>
            </nav>
        </header>
    </th:block>
</html>