<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/layout">
<th:block layout:fragment="content">
	<body class="is-preload">
		<div id="page-wrapper">
			<!-- Header -->

			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2 style="margin:0">고객게시판</h2>
						</header><br/>
								<!-- Contents -->
						<div class="col-8 col-12-medium imp-medium" >
						<blockquote style="padding:0; margin-left: 10em;"><h4>　고객게시판 > 게시글작성</h4></blockquote><br/><br/>
							<section>
								<form action="/mypage/mylist" method="get">
									<div class="row gtr-uniform gtr-50" style="margin-left:15em; width:1400px;">
										<div class="col-12" style="width:25%">
											<select name="category" id="category">
												<option value="">- 카테고리 선택-</option>
												<option value="1">예약확인/취소</option>
												<option value="1">마이페이지</option>
												<option value="1">기타문의</option>
											</select>
										</div>
										<div class="col-6 col-12-xsmall" style="width:15%">
											<input type="text" name="writerId" id="writerId" value="" placeholder="작성자" />
										</div>
										<div class="col-6 col-12-xsmall" style="width:15%">
											<input type="file" name="file" id="file" value="" />
										</div>
										<div class="col-6 col-12-xsmall" style="width:60%">
											<input type="text" name="title" id="title" value="" placeholder="제목을 입력하세요" />
										</div>　
										<div class="col-12" style="width:60%;" >
											<textarea name="content" id="content" rows="6"  placeholder="내용을 입력하세요"></textarea>
										</div>
										<div class="col-6 col-12-medium">
											<input type="checkbox" id="pub" name="pub">
											<label for="pub">비공개</label>
										</div><br/><br/><br/><br/>

										<div class="col-12">
											<ul class="actions" style="float:center;">
												<li><input type="submit" value="수정" name="write" class="button primary small" /></li>
												<li><input type="submit" value="삭제" name="write" class="button primary small" onclick="confirm('삭제하시겠습니까?')"/></li>
												<li><a href="/board" class="button small">목록</a></li>
											</ul>
										</div>
									</div>
								</form>
							</section>
						</div>
					</div>
				</div>

			<!-- Footer -->

		</div>
	</body>
</th:block>
</html>